<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5tI4Kw5xRULGPZclfs_uR8OTre63MJgA</string>
	<key>GCM_SENDER_ID</key>
	<string>658471459576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyjeong.readin</string>
	<key>PROJECT_ID</key>
	<string>readin-171af</string>
	<key>STORAGE_BUCKET</key>
	<string>readin-171af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658471459576:ios:60c23a3e071ebde1b4f90d</string>
</dict>
</plist>